/* ==========================================================================
   Base Styles & Reset
   ========================================================================== */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font: var(--md-sys-typescale-body-medium);
  background: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}


.credit-logo {
  width: 20px;
  height: auto;
  vertical-align: middle;
  margin-right: 8px;
  display: inline-block;
}